
<nav >
  <div class="container">
    <ul class="nav justify-content-center fs-4 bg-light">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'dashboard' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'addcash' %}">Add Cash</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'expense' %}">Expense</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
  
</ul>
  </div>
</nav>